<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nuTriton</title>

    <!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato|Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic|Open+Sans:400italic,600italic,700italic,700,600,400|Roboto:400,300italic,300,400italic,500,500italic,700,700italic|Raleway:400,300,500,600,700|Pacifico' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Lightbox -->
	<link href="css/lightbox.css" rel="stylesheet" />
    
    <style>

	h1 {
		text-shadow: 2px 2px 0px white; /*the shadows return!!!*/
	}

	body {
		background: url("images/background-5.jpg") no-repeat center center fixed; 
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 160%;
	}

	h3 {
		margin: 0px;
		padding:10px 0px 0px 0px;
	}

	.jumbotron, .panel-body, .panel {
		/*background-color: #e9f1d0;*/
		background-color: rgba(233, 241, 233, 0.5);
	}

	.form-group{
		background-color: rgba(233, 241, 233, 0);
	}
	
	.jumbotron h1 {
		font-family: "Pacifico", serif;
		font-size: 4em;
		color: #87b822;
	}

	.login-collapse {
		color: #eff2df;
	}


.navbar-default {
	background-color: #87b822;
	border-color: #7ea32f;
  font-size: 1.05em;
}
.navbar-default .navbar-brand {
	color: #eff2df;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #eff2df;
}
.navbar-default .navbar-text {
	color: #eff2df;
}
.navbar-default .navbar-nav > li > a {
	color: #eff2df;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #eff2df;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #eff2df;
	background-color: #7ea32f;
	box-shadow: inset 0px 5px 20px -15px #536b20;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #eff2df;
	background-color: #7ea32f;
}
.navbar-default .navbar-toggle {
	border-color: #7ea32f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #7ea32f;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #eff2df;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #eff2df;
}
.navbar-default .navbar-link {
	color: #eff2df;
}
.navbar-default .navbar-link:hover {
	color: #eff2df;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #eff2df;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #eff2df;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #eff2df;
		background-color: #7ea32f;
	}
}
    </style>

  </head>
  <body>

  	<!-- NAVBAR -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"> 
				<!-- <a href="index" class="navbar-brand">nuTriton </a>  -->
				<button type="button" class="navbar-toggle login-collapse" data-toggle="collapse" data-target=".navbar-collapse">
					Login
				</button>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li> <a href="index" > Log In </a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search">
        			<div class="form-group">
        			    <input type="text" class="form-control" placeholder="Username">
          				<input type="text" class="form-control" placeholder="Password">
        			</div>
      			</form>
			</div>
		</div>
	</div>
	<div class="container"></div>
		</br>
		</br>
		</br>
		</br>
	</div>

	<div class="container">
		<div class="jumbotron text-center">
			<h1 >Welcome to nuTriton</h1>
			<br/>
			<p>The one-stop place to find the foods suitable for your diet.</p>
			<p> Connect with others of the same dietary restrictions, share what's new in your life.</p>
		</div> 	
	</div>

	<div class="container">
		<div class="panel panel-default ">
			<div class="panel-body">
				<form >
				    <div class="form-group">
				    	<h3>Register</h3>
				    	<br/>
				      	<label for="name">Name</label>
				      	<input type="text" class="form-control" id="title" name="name">
				      	<label for="email">Email</label>
				     	<input type="text" class="form-control" id="content" name="email">
				     	<label for="password">Password</label>
				     	<input type="text" class="form-control" id="content" name="password">
				     	<label for="passwordconfirm">Confirm Password</label>
				     	<input type="text" class="form-control" id="content" name="passwordconfirm">
				    </div>
				    <input type="submit" id="submitBtn" class="btn btn-default" value="Register"></input>
				</form>
			</div>
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- The following two js are Lightbox jquery scripts -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/lightbox.min.js"></script>
	<script src="js/nutriton.js"></script>
	
  </body>
</html>