<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nuTriton</title>
    <link rel="shortcut icon" href="images/leaf.ico">
    <!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato|Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic|Open+Sans:400italic,600italic,700italic,700,600,400|Roboto:400,300italic,300,400italic,500,500italic,700,700italic|Raleway:400,300,500,600,700|Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Lightbox -->
	<link href="css/lightbox.css" rel="stylesheet" />
        {{> tracking_code_script}}

    <style>

	body {
		background-color: #e9f1d0;
		font-family: 'Montserrat', sans-serif;
	}

	h3 {
		margin: 0px;
		padding:10px 0px 0px 0px;
	}

	.jumbotron {
		background-color: #f8faef;
		padding: 30px;
	}

	.panel-body {
		background-color: #f8faef;
	}
	
	.navbar-brand {
		font-family: "Pacifico", serif;
		font-size: 22pt;
		text-shadow: 2px 2px 3px #17A57D;
	}

	/* Custom style for the selector buttons */
	.selectButton {
		font-size:1em;
	}

	
.navbar-default {
  background-color: #87b822;
  border-color: #87b822;
  font-size: 1.05em;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #d4dca8;
}
.navbar-default .navbar-nav > li > a {
  color: #d4dca8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #87b822;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #87b822;
}
.navbar-default .navbar-toggle {
  border-color: #87b822;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #87b822;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d4dca8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d4dca8;
}
.navbar-default .navbar-link {
  color: #d4dca8;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d4dca8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #87b822;
  }
}
    </style>

  </head>
  <body>

  	<!-- NAVBAR -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"> 
				<a href="foodfinder" class="navbar-brand">nuTriton </a> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li > <a href="foodfinder" class="foodfinder_click" > Food Finder </a></li>
					<li > <a href="index" class="feed_click"> Feed </a></li>
					<li class="active"> <a href="profile" class="profile_click">Profile </a></li>
					<li> <a href="/" class="logout_click"> Log Out </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container"></div>
		<button type="button" class="btn btn-default pull-right"><a href="#" id="">?</a></button>
		</br>
		</br>
		</br>
	</div>

	<div class="container">

		<div class="jumbotron">

 		 <h1><img src="images/profile-icon.png" height="60" width="60"> Jane Doe</h1>
 		 <br/>
 		 <p>Location: La Jolla, CA</p>
 		 <p>Diet: Gluten-free, Vegetarian</p>
 		 <p>Bio: *Insert your bio here* </p>

		</div>

		<!-- PANEL -->
		<!-- NO EASY WAY TO CHANGE THEIR COLORS BUT GOOGLE IT IN FREE TIME -->
 	<!-- 	<div class="btn-group btn-group-justified" role="group" aria-label="...">
  			<div class="btn-group" role="group">
    			<button type="button" class="btn btn-default btn-success selectButton">My Posts</button>
  			</div>
  			<div class="btn-group" role="group">
    			<button type="button" class="btn btn-default selectButton">Photos</button>
  			</div>
  			<div class="btn-group" role="group">
    			<button type="button" class="btn btn-default selectButton">Favorites</button>
  			</div>

		</div>
		<br/> -->
 				<h2>My Posts</h2>
 				<br/>

		<!-- PANEL -->
		<div class="panel panel-default ">

 			<div class="panel-body">

			<strong>My Favourite Vegetarian Smoothie</strong>
			
			<div class="col-xs-5 col-md-2">
			<a href="http://thesmoothielover.com/wp-content/uploads/2012/05/DSC04605.jpg" data-lightbox="smoothie" class="thumbnail">
		    	<img src="http://thesmoothielover.com/wp-content/uploads/2012/05/DSC04605.jpg"/>
		    </a>
			</div>

			<br/>
			<br/>

    		<p>Smoothies are quick and easy to make. With a blender, you just need to experiment with different fruits and vegetables. I find it better to mix even proportions of dairy, fruits, and ice to make a perfect smoothie. You can even add seeds and nuts without changing the texture of the drink.</p>

    		<p>One of my favorite smoothies is the banana berry smoothie. You only need about 250g of berries, one banana, 2 cups of milk, and some ice cubes. Blend them together, and serve! It's simple to make, with only three ingredients, and delicious.</p>

			<br/>
			<button type="button" class="upvote btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> 11 </button>
			<button type="button" class="downvote btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> 1 </button>
			<button type="button" class="btn btn-default favorite pull-right"><span class="glyphicon glyphicon-star-empty"></span></button>

  			</div>
		</div>

		<!-- PANEL -->
		<div class="panel panel-default ">

 			<div class="panel-body">

			<strong>How To Make A Delicious Vegetarian Snack in 15 Minutes</strong>
			
			<div class="col-xs-5 col-md-2">
			<a href="http://cdn.sheknows.com/articles/2011/12/cucumber-dill-cracker.jpg" data-lightbox="snack" class="thumbnail">
		    	<img src="http://cdn.sheknows.com/articles/2011/12/cucumber-dill-cracker.jpg"/>
		    </a>
			</div>

			<br/>
			<br/>
    		<p>You can make cucumber dill crackers for a quick snack, fancy enough to impress others, and delicious. Mix 8 ounces of softened cream cheese with 1 cup of italian dressing. Spread the mix on crackers, and then top with cucumbers and dill. Serve immediately!</p>

			<br/><br/>
			<button type="button" class="upvote btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> 23 </button>
			<button type="button" class="downvote btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> 2 </button>
			<button type="button" class="btn btn-default favorite pull-right"><span class="glyphicon glyphicon-star-empty"></span></button>  

			</div>
		</div>

		<!-- PANEL -->
		<div class="panel panel-default ">

 			<div class="panel-body">

			<strong>Best Vegetarian Burger Restaurants</strong>

			<br/>
			<br/>

    		<ol>
    			<li><em>Burger on Smith</em> - Their signature Nutty Professor burger is a combination of nut, veggies, and quinoa, topped with an oven-roasted tomato, avacado, and creamy herb sauce. It's perfect to savor.</li> <br/>
    			<li><em>Native Foods</em> - The "bacon" burger for the vegetarian. Made of thinly sliced seitan, melted vegan cheddar, caramelized onions, romaine, carrots, tomato, and "bacon," smothered in barbecue sauce and ranch dressing. Topped off with battered pickle chips.</li><br/>
    			<li><em>26 Beach</em> - Made with a brown rice base, black beans, corn, nuts, carrots, lentils, and soy, with a nice sear from the grill, there is plenty of flavor to experience. Tomatoes add a nice acidity, and melted cheese rounds finish it off.</li><br/>
    			<li><em>The Plant</em> - Their Wasabi Plant Burger sure is unique, made with lentils, cashews, bulgar wheat, and veggies, topped with sauerkraut, raspberry aoli, and wasabi. On the side, the restaurant serves herb-roasted potatoes with mixed greens and vegetables.</li><br/>
    			<li><em>Umami Burger</em> - The patty is comprised of a mushroom blend and plenty of edamame, colored with beet juice to give it a medium-rare burger appearance. Under the patty is the lettuce and a roasted tomato, while the top is covered with sauteed onions and ricotta. The "umami" comes from the finishing touch, and that is a strong splash of truffle oil.</li>
    		</ol>

			<br/><br/>
			<button type="button" class="upvote btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> 12 </button>
			<button type="button" class="downvote btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> 0 </button>
			<button type="button" class="btn btn-default favorite pull-right"><span class="glyphicon glyphicon-star-empty"></span></button>
  			
  			</div>
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- The following two js are Lightbox jquery scripts -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/lightbox.min.js"></script>
	<script src="js/nutriton.js"></script>
	
  </body>
</html>